doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/reset.css')
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/style.css')
    title Cyberpunk 2077
    meta(name='description' content='Cyberpunk 2077 — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити')

  body
    section.main-section
      div.main-section__container.container
        header.main-section__header
          a(href='https://www.cyberpunk.net/us/ru/' target='_blank')
            img.main-section__logo(src='icons/Cyberpunk_2077_logo 1.svg' alt='Cyberpunk 2077')
        
        div.main-section__icon-box.icons
          a(href='https://www.youtube.com/user/CyberPunkGame' target='_blank')
            img.icons__logo(src='icons/youtube logo.svg' alt='Youtube')
          a(href='https://vk.com/cyberpunkgame' target='_blank')
            img.icons__logo(src='icons/vk logo.svg' alt='Vk')
          a(href='http://facebook.com/CyberpunkGameRU' target='_blank')
            img.icons__logo(src='icons/facebook-rect logo.svg' alt='Facebook')
          a(href='http://twitter.com/cyberpunkgame' target='_blank')
            img.icons__logo(src='icons/twitter-square logo.svg' alt='Twitter')
          a(href='https://www.twitch.tv/cdprojektred' target='_blank')
            img.icons__logo(src='icons/twitch logo.svg' alt='Twitch')
          a(href='https://www.instagram.com/cyberpunkgame/' target='_blank')
            img.icons__logo(src='icons/instagram-square logo.svg' alt='Instagram')

      div.main-section__rectangle-container.container
        div.rectangle-content
          h1.rectangle-content__title Доступно на<br>всех платформах
          button.rectangle-content__btn
            a.rectangle-content__link(href='https://www.cyberpunk.net/us/ru/' target='_blank') Узнать больше

    section.second-section
      div.second-section__container.container
        h2.second-section__title Найт-Сити изменит тебя навсегда!
        
        div.second-section__text
          p
            span Cyberpunk 2077
            | — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.

      div.second-section__image-box
        div.second-section__left-images
          img.first-image(src='img/Cyti1.png' alt='Найт-Сити')
          img(src='img/Cyti2.png' alt='Найт-Сити')

        div.second-section__right-image
          img(src='img/BigCyti.png' alt='Найт-Сити')

    div.spray_black
      img(src='img/spray_black.png' alt='Spray')

    section.third-section
      div.third-section__container.container
        div.third-section__top-content
          img.third-section__star-promotion(src='icons/Promotion.svg' alt='Promotion')
          h3.third-section__title Играй и выигрывай!
          
          div.third-section__text
            p
              span Cyberpunk 2077
              | и получи возможность выиграть консоль 
              span Xbox Series X
              | или 
              span Sony PlayStation 5
              |! Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1 февраля. Удачи! ;)

        div.third-section__left-wrapper
          input.third-section__form-name(type='name' placeholder='Как тебя зовут?')
          input.third-section__form-mail(type='email' placeholder='Твой e-mail')
          
          div.third-section__form-screen.form-screen
            p.form-screen__text Прикрепить скриншот
            p.form-screen__formats .png /.jpg /.pdf
            input.third-section__fyle(type='file' name='myFyle')

          button.third-section__btn
            a.third-section__link(href='#') Отправить

          form.third-section__check
            label
              input(type='checkbox')
              span Согласен на обработку персональных данных

        div.right-wrapper
          img(src='img/Group-217.webp' alt='GAMING')

    div.spray_yellow
      img(src='img/spray_yellow.png' alt='spray')

    section.fourth-section
      div.fourth-section__container.container
        div.fourth-section__left-wrapper
          div.fourth-section__screen
            img(src='img/Monitor.png' alt='Monitor')
          
          div.fourth-section__brand
            img(src='icons/hp logo.svg' alt='Hp')
            img(src='icons/Chest.svg' alt='#')
            img(src='icons/Cyberpunk_2077 logo.svg' alt='Cyberpunk_2077')

        div.fourth-section__right-wrapper
          h4.fourth-section__title Полное погружение вместе с HP
          
          p.fourth-section__text Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!

          div.fourth-section__advantages.advantages
            p.advantages__text
              img(src='icons/Vector.svg' alt='paint')
              | Яркие насыщенные цвета
            p.advantages__text
              img(src='icons/auto_awesome.svg' alt='stars')
              | Кристальная четкость изображения
            p.advantages__text
              img(src='icons/auto_awesome_motion.svg' alt='movement')
              | Быстрые движения и плавный геймплей

          button.fourth-section__btn
            a.fourth-section__btn-link(href='https://megamarket.ru/catalog/details/monitor-hp-x24c-9fm22aa-100027064728/' target='_blank') Подробнее

    section.fifth-section
      div.fifth-section__left-wrapper
        img(src='img/Background.png' alt='Cyberpunk2077-Vi')

      div.fifth-section__right-wrapper
        div.fifth-section__content
          h5 Купить игру<br>Cyberpunk 2077

          div.fifth-section__set.set
            p.set__title В комплект входит:
            p.set__text
              img(src='icons/disk.svg' alt='#')
              | Футляр с игровыми дисками
            p.set__text
              img(src='icons/wysiwyg.svg' alt='#')
              | Футляр с кодом для загрузки игры и дисками (pc)
            p.set__text
              img(src='icons/collections.svg' alt='#')
              | Справочник с информацией об игровом мире

          div.fifth-section__platform.platform
            p.platform__title Выберите платформу:
            div.platform__images
              img(src='icons/Frame 13.svg' alt='PC')
              img(src='icons/xbox-one-3 logo.svg' alt='Xbox')
              img(src='icons/stadia logo.svg' alt='Stadia')
              img(src='icons/Playstation logo.svg' alt='Playstation')

    footer.footer
      div.footer__container.container
        div.footer__content
          div.footer__images
            img(src='icons/Cyberpunk_2077_logo 2.svg' alt='Cyberpunk_2077_logo 2')
            img(src='icons/g10.svg' alt='CD Project Red')
          
          div.footer__text
            a(href='https://www.cyberpunk.net/ru/user-agreement/' target='_blank') Лицензия
            a(href='https://regulations.cdprojektred.com/ru/privacy_policy' target='_blank') Политика конфиденциальности

      div.footer__footer-bar
        p CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®